@value defaultText, grayBg, blueDark from '../../common/variables.css';

.container {
    background-color: white;
    border-radius: 4px;
    height: 40px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: defaultText;
}

.button {
    margin: 0 8px;
    height: 40px;
    border: 0;
    background-color: grayBg;
    color: blueDark;
    outline: none;
    cursor: pointer;
}

.link {
    outline: none;
}
